/* 初始化，清除所有内外边距 */
*{
    margin: 0;
    padding: 0;
}
.head{
    background-color: blanchedalmond;
    width: auto;
    height: 799px;
}

.all{
    width: 900px;
    margin: 0 auto;
}

.hello{
    background-color: lightblue;
    height: 60px;
    line-height: 60px;
    font-size: 11px;
    color: white;
}

.bar{
    /* background-color: lightgreen; */
    height: 102px;
    background-color: white;
}
.bar img{
    padding: 37px 0px 37px 11px;
    float: left;
}

.bar ul{
    background-color: lightgrey;
    list-style: none;
    float: right;
}

.bar li{
    width: 80px;
    height: 62px;
    font-size: 15px;
    margin: 0 auto;
    line-height: 62px;
}